<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <style>
      body {
    margin:0;
    padding:0;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
}

form {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.edit-heading
{
    color:#45a049;
}

@media (max-width: 600px) {
    form {
        width: 80%;
    }
}

    </style>
</head>
<body>
    <div class="container">
        <h1 class="edit-heading">Edit Book</h1>
        <form action="/edit/<%= id %>" method="POST" class="edit-form">
            <label for="title" class="edit-label">Title: </label>
            <input type="text" name="title" value="<%= title %>" class="edit-input">
            
            <label for="author" class="edit-label">Author:</label>
            <input type="text" name="author" value="<%= author %>" class="edit-input">

            <label for="rating" class="edit-label">Rating:</label>
            <input type="number" name="rating" value="<%= rating %>" class="edit-input">

            <label for="summary" class="edit-label">Summary:</label>
            <textarea name="summary" class="edit-textarea"><%= summary %></textarea>
            
            <label for="notes" class="edit-label">Notes:</label>
            <textarea name="notes" class="edit-textarea"><%= notes %></textarea>
            
            <label for="isbn" class="edit-label">Isbn:</label>
            <input type="text" name="isbn" value="<%= isbn %>" class="edit-input">
            
            <button type="submit" class="edit-button">Update Book</button>
        </form>
    </div>
</body>
</html>
