<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Books website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Merriweather:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="heading">
       
    <div class="Title" style="font-family: 'Dancing Script', cursive;font-size: 2.5rem; margin:10px;">BEYOND THE PAGES</div>
    <div class="Title2"></div>
    <div class="sec1">Written by real readers, for real readers. Share your reading journey with our active community and discover diverse perspectives.</div>
    <div class="sec2">No time to read? No problem! Get the gist of any book with our bite-sized summaries, perfect for busy schedules. </div>
    </div>
    <p><a href="#add-book" class="button-link">Add a book</a></p>
    <br>
    <hr style="width:50%;text-align:left;margin:auto;margin-bottom: 50px;">
    <div class="list">
        <% listItems.forEach(function(item) { %>
            <div class="block">
                <form class="form" action="/<%= item.id %>" method="get">
                    <a href="/<%= item.id %>">
                        <img src="<%= item.bookcover %>" alt="Book cover">
                        <div>
                            <h3>Title:<%= item.book_name %></h3>
                            <p>Author: <%= item.author %></p>
                            <p>Rating: <%= item.rating %>/10</p>
                            <p class = "Summary">Summary:<%= item.summary %></p>
                        </div>
                    </a>
                </form>
                <%= item.title %> 
                <a href="/edit/<%= item.id %>" style="text-decoration: underline;">Edit</a>
                <form   action="/delete/<%= item.id %>" method="post" style="display:inline;">
                    <button class="delete" type="submit">Delete</button>
                </form>
                <div class="sec3">Read my <a style="text-decoration: underline;" href="/<%= item.id %>">notes</a>.</div>
            </div>
        <% }); %>
    </div>    <br>

    <h1 class="addd" id="add-book">ADD A BOOK </h1>
    <form action="/add" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" required>
        
        <label for="summary">Summary:</label>
        <input id="summary"  name="summary" required></input>

        <label for="notes">Notes:</label>
        <input id="notes"  name="notes" required></input>
        
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required>
        
        <button type="submit">Add Book</button>
    </form>
    
</body>
</html>
